@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap') ;

body {
  background-color: #5cb88a;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #292b2a;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 105%;
}

.page-title {
  color: #f8f9fa;
  font-family: Lato , sans-serif;
  left: 40px;
  position: absolute;
}

.search-bar {
  border: none;
  border-radius: 8px;
  height: 30px;
  margin-left: 61.4rem;
  width: 275px;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  height: 585px;
  left: 85px;
  padding: 48px 30px;
  width: 1270.47px;
}

.movie-card {
  background-color: #c9eedb;
  border: 1px solid rgba(240, 155, 155, 0.125);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  border-radius: 15px;
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 15px;
}

.movie-card-title {
  font-family: Lato , sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 5px 5px 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-family: Lato , sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 5px 12px;
}

.movie-card-storyline {
  font-family: Lato , sans-serif;
  font-size: 14px;
  margin: 5px 5px 12px;
  text-align: justify;
}

.rating {
  background-color: #2e0a68d0;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.assessment {
  font-family: Lato , sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  margin-left: 130px;
}

.movie-card-rating {
  background-color: rgba(235, 21, 21, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 12px 20px;
}
