* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
}

.container-header {
  background-color: gray;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 400px;
  padding: 10px;
}

.card img {
  max-width: 400px;
}

.card h4 {
  font-size: 2rem;
}

.card h5 {
  color: gray;
  font-size: 1rem;
  margin-top: 15px;
}

.card p {
  border-bottom: 1px dotted lightgrey;
  border-top: 1px dotted lightgrey;
  height: 120px;
  margin-top: 30px;
  padding: 10px 0;
}

.rating {
  align-self: flex-end;
  background-color: blue;
  border-radius: 5px;
  color: white;
  display: block;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  width: 40px;
}
